h1 {
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 20px;
}

header nav {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

header nav a {
    color: #c00; /* Red color */
    text-decoration: none;
    font-size: 1.2em;
    margin-right: 30px;
}

header nav a:hover {
    text-decoration: underline;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    font-size: 1.2em;
    min-width: 150px;
    display: inline-block;
    vertical-align: top;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="date"],
.form-group select,
.form-group textarea {
    padding: 5px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 300px;
}

.form-group textarea {
    height: 60px;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #eee;
    color: #333;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
}

.add-book-btn {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 1em;
    text-decoration: none;
    color: black;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

